<div class="container">
  <h2>Panel de Administración</h2>
  @if (errorMessage) {
    <p class="error-message">{{ errorMessage }}</p>
  }
  <div class="button-group">
    <button routerLink="/register" class="reg-button">Agregar dispositivo</button>
    <button (click)="switchTable()" class="reg-button">Ordenar</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre de dispositivo</th>
        <th>Tipo de dispositivo</th>
        <th>Cantidad</th>
        <th>No. veces solicitado</th>
      </tr>
    </thead>
    <tbody>
      @for (device of devicesData; track device.id) {
          <tr>
            <td>{{ device.id }}</td>
            <td>{{ device.name }}</td>
            <td>{{ device.deviceType }}</td>
            <td class="{{device.amount === 0 ? 'danger' : ''}}">{{ device.amount }}</td>
            <td>{{ device.timesRequested }}</td>
          </tr>
        
      }
    </tbody>
  </table>
</div>