<div class="container">
  <h2>Panel de Administración</h2>
  @if (errorMessage) {
  <p class="error-message">{{ errorMessage }}</p>
  }
  <div class="button-group">
    <button routerLink="/register" class="reg-button">Agregar cliente</button>
    <button (click)="switchTable()" class="reg-button">Ordenar</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre del cliente</th>
        <th>No. de veces que alquiló</th>
      </tr>
    </thead>
    <tbody>
      @for (client of clientsData; track client.id) {

      <tr>
        <td>{{ client.id }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.timesRented }}</td>
      </tr>

      }
    </tbody>
  </table>
</div>