<div class="container">
  <h2>Panel de Administración</h2>
  @if (errorMessage) {
    <p class="error-message">{{ errorMessage }}</p>
  }
  <button routerLink="/register" class="reg-button">Agregar cliente</button>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre del cliente</th>
        <th>No. de veces que alquiló</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (client of clients; track client.id) {
        
          <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.timesRented }}</td>
            <td>
              <button class="delete-button" >Eliminar</button>
            </td>
          </tr>
        
      }
    </tbody>
  </table>
</div>