<div class="container">
  @if (errorMessage) {
    <p class="error-message">{{ errorMessage }}</p>
  }
  
  <h2>Update User</h2>
  <form (submit)="updateUser()">
    <div class="form-group">
      <label for="">Name:</label>
      <input type="text" [(ngModel)]="userData.name" name="name">
    </div>
    <div class="form-group">
      <label for="">Email:</label>
      <input type="email" [(ngModel)]="userData.email" name="email">
    </div>
    <div class="form-group">
      <label for="">Role:</label>
      <select name="role" [(ngModel)]="userData.role" required>
        <option value="">Select Role</option>
        <option value="ADMIN">ADMIN</option>
        <option value="USER">USER</option>
      </select>
    </div>
    <button type="submit">Login</button>
  </form>
</div>